{% extends 'base.html' %}

{% block content %}
  <h1>Autos</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'autos:auto_create' %}">Add Auto</a>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for auto in autos %}
        <tr>
          <td>{{ auto.name }}</td>
          <td>{{ auto.model }}</td>
          <td>{{ auto.price }}</td>
          <td>{{ auto.currency }}</td>
          <td>
            {% if user.is_authenticated %}
              <a href="{% url 'autos:auto_detail' auto.pk %}">Detail</a>
              {% if auto.user == user %}
                <a href="{% url 'autos:auto_update' auto.pk %}">Update</a>
                <a href="{% url 'autos:auto_delete' auto.pk %}" onclick="return confirm('Are you sure?')">Delete</a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}